body {
    font-family: "Times New Roman", serif;
}
h1, h2 {
    font-weight: bold;
}
/* Navbar Dropdown Hover */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Footer Styling */
footer {
    background: #222;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}